html, body {
    background-image: url('../images/Roman Terrain.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Cormorant Garamond', serif;
}

/* Header */
.header {
    background:rgba(0,0,0,.5);
    height: 80px; 
    padding: 10px 0;
    position: relative;
    width: 100%;
}
.header .container h3 a {
    color: antiquewhite;
    float: left;
    text-align: left;
    text-decoration: none;
}
.header .container ul { 
    float: right;
    margin-top: -5px; 
    padding: 5px 10px; 
} 

.header .container ul li {
    display: inline-block;
    font-size: 20px;
    margin: 0 10px;
    padding: 0 0 0px; 
    text-align: right;
}

.header .container ul li a {
    background-color: transparent;
    color: antiquewhite;
}

/* Jumbotron */

.jumbotron .container {
    background-color: transparent; 
    text-align: center; 
    position: relative; 
    top: 30px; 
} 
    

.jumbotron .container h1 {
    color: antiquewhite; 
    font-size: 60px; 
    text-shadow: 0 2px 3px rgba(0,0,0,.4); 
} 
.row .col-sm-4 {
    color: antiquewhite;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    text-shadow: 0 2px 3px rgba(0,0,0,.4);
}

.row .col-sm-4 h2 {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.row .col-sm-4 p {
    font-size: 16px;
    margin: 0 0 10px;
    text-align: center;
}

 /* Supporting */ 

/* Button 
.download {
    position: relative; 
    top: 80px; 
    text-align: center; 
} 

.btn-default {
    background:rgba(0,255,188,0.5); 
    border:none; 
    border-radius: 8px; 
    color: #fff; 
    font-size: 18px; 
    letter-spacing: 1.3px; 
    padding: 10px 60px; 
    margin-bottom: 100px;
} 

.btn-default:hover {
    background:rgba(0,0,0,0.5); 
    border:none; 
    color: #fff
}
*/

/* Footer */
.footer {
    background-color: rgba(0,0,0,.5); 
    bottom: 0;
    margin-top: 20px;
    position: absolute;
    width: 100%;
}

.footer .container {
    text-align: center;
}
.footer .container li {
    display: inline-block;
    margin: 0 30px;
    padding-top: 5px;
}

.footer .container li a {
    color: antiquewhite;
    font-size: 20px; 
    padding: 5px 0;  
} 

/* Customizations of Bootstrap classes */
 